@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
.vectorIcon {
  position: absolute;
  height: 46.15%;
  width: 15.89%;
  top: 30.77%;
  right: 64.24%;
  bottom: 23.08%;
  left: 19.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logout1 {
  position: absolute;
  top: 14px;
  left: 69.46px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  font-family: var(--internal-tool-subheading);
  color: var(--secondary-crypto);
  text-align: left;
  text-decoration: none;
  opacity: 0.9;
}
.logout,
.logoutChild {
  position: absolute;
  width: 151px;
  height: 52px;
}
.logoutChild {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--primary-crypto);
  opacity: 0.1;
}
.logoutChild:hover {
  background-color: var(--color-olivedrab);
}
.logout {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 717px;
  left: 109px;
}
.vectorIcon1 {
  position: absolute;
  top: 19px;
  left: 31px;
  width: 18px;
  height: 18px;
  cursor: default;
  user-select: none;
}
.vectorIcon1:active {
  background-color: var(--primary-crypto);
  user-select: none;
}
.notifications1,
.notifications1:hover {
  font-family: var(--internal-tool-subheading);
}
.notifications1 {
  top: 14px;
  left: 88px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 117px;
  text-decoration: none;
  cursor: pointer;
}
.notifications1:hover {
  font-weight: 600;
}
.notifications1:active {
  color: var(--primary-crypto);
}
.navlineIcon,
.notifications,
.notifications1 {
  position: absolute;
  user-select: none;
}
.notifications {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 622px;
  left: 43px;
  width: 288px;
  height: 52px;
}
.navlineIcon {
  top: 595px;
  left: 71px;
  width: 238px;
  height: 2px;
  overflow: hidden;
}
.vectorIcon2 {
  height: 31.73%;
  width: 5.21%;
  top: 34.13%;
  right: 82.47%;
  bottom: 34.13%;
  left: 12.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon2:active {
  background-color: var(--primary-crypto);
}
.attendance,
.attendance1,
.vectorIcon2 {
  cursor: pointer;
  position: absolute;
  user-select: none;
}
.attendance1,
.attendance1:hover {
  font-family: var(--internal-tool-subheading);
}
.attendance1 {
  top: 14px;
  left: 91px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 117px;
  text-decoration: none;
}
.attendance1:hover {
  font-weight: 600;
}
.attendance1:active {
  color: var(--primary-crypto);
}
.attendance {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 518px;
  left: 40px;
  width: 288px;
  height: 52px;
}
.vectorIcon3 {
  height: 34.62%;
  width: 6.25%;
  top: 38.46%;
  right: 82.99%;
  bottom: 26.92%;
  left: 10.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3:active {
  background-color: var(--primary-crypto);
}
.payments,
.payments1,
.vectorIcon3 {
  cursor: pointer;
  position: absolute;
  user-select: none;
}
.payments1,
.payments1:hover {
  font-family: var(--internal-tool-subheading);
}
.payments1 {
  top: 16px;
  left: 88px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 117px;
  text-decoration: none;
}
.payments1:hover {
  font-weight: 600;
}
.payments1:active {
  color: var(--primary-crypto);
}
.payments {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 445px;
  left: 43px;
  width: 288px;
  height: 52px;
}
.payments:hover {
  display: flex;
}
.requests1,
.requests1:hover {
  font-family: var(--internal-tool-subheading);
}
.requests1 {
  position: absolute;
  top: 14px;
  left: 88px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 111px;
  text-decoration: none;
  cursor: pointer;
}
.requests1:hover {
  font-weight: 600;
}
.requests1:active {
  color: var(--primary-crypto);
}
.iconMsg,
.requests {
  position: absolute;
  user-select: none;
}
.iconMsg {
  height: 34.62%;
  width: 6.25%;
  top: 32.69%;
  right: 82.99%;
  bottom: 32.69%;
  left: 10.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: default;
}
.iconMsg:active,
.iconTasks:active {
  background-color: var(--primary-crypto);
}
.requests {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 376px;
  left: 43px;
  width: 288px;
  height: 52px;
}
.iconTasks {
  position: absolute;
  height: 46.15%;
  width: 8.33%;
  top: 32.69%;
  right: 80.9%;
  bottom: 21.15%;
  left: 10.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconTasks:active {
  user-select: none;
}
.services,
.services1 {
  cursor: pointer;
  position: absolute;
  user-select: none;
}
.services1,
.services1:hover {
  font-family: var(--internal-tool-subheading);
}
.services1 {
  top: 15px;
  left: 88px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 103px;
  text-decoration: none;
}
.services1:hover {
  font-weight: 600;
}
.services1:active {
  color: var(--primary-crypto);
}
.services {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 304px;
  left: 43px;
  width: 288px;
  height: 52px;
}
.updateDetails,
.updateDetails:hover {
  font-family: var(--internal-tool-subheading);
  color: var(--color-black);
}
.updateDetails {
  top: 16px;
  left: 88px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  text-align: left;
  display: inline-block;
  width: 173px;
  text-decoration: none;
}
.updateDetails:hover {
  font-weight: 600;
}
.updateDetails:active {
  color: var(--primary-crypto);
}
.iconSetting,
.update,
.updateDetails {
  cursor: pointer;
  position: absolute;
  user-select: none;
}
.iconSetting {
  height: 34.62%;
  width: 6.25%;
  top: 32.69%;
  right: 82.99%;
  bottom: 32.69%;
  left: 10.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconSetting:active {
  background-color: var(--primary-crypto);
}
.update {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 232px;
  left: 43px;
  width: 288px;
  height: 52px;
}
.vectorIcon4 {
  position: absolute;
  height: 23.08%;
  width: 2.57%;
  top: 40.38%;
  right: 6.25%;
  bottom: 36.54%;
  left: 91.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon4:active {
  display: flex;
}
.homeChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--primary-crypto);
  width: 288px;
  height: 52px;
  opacity: 0.1;
}
.homeChild:hover {
  background-color: var(--color-lightskyblue);
  display: flex;
}
.home1,
.home1:hover {
  font-family: var(--internal-tool-subheading);
}
.home1 {
  top: 14px;
  left: 91px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  text-align: left;
  display: inline-block;
  width: 69px;
  text-decoration: none;
  user-select: none;
}
.home1:hover {
  font-weight: 600;
  color: var(--color-black);
}
.home1,
.home1:active {
  color: var(--primary-crypto);
}
.home,
.home1,
.iconHome,
.navphotoIcon {
  position: absolute;
  cursor: pointer;
}
.iconHome {
  height: 34.62%;
  width: 6.25%;
  top: 26.92%;
  right: 81.94%;
  bottom: 38.46%;
  left: 11.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconHome:hover {
  background-color: var(--color-lightskyblue);
}
.iconHome:active {
  background-color: var(--primary-crypto);
}
.home,
.navphotoIcon {
  user-select: none;
}
.home {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 163px;
  left: 40px;
  width: 288px;
  height: 52px;
}
.home:active {
  background-color: var(--base-white);
}
.navphotoIcon {
  top: 54px;
  left: 71px;
  border-radius: 50%;
  width: 56px;
  height: 57px;
  opacity: 1;
}
.navphotoIcon.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.navphotoIcon:hover {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none jello-horizontal;
  opacity: 1;
}
.navphotoIcon:active {
  cursor: pointer;
}
.navemailid,
.navname {
  position: absolute;
  left: 150px;
  letter-spacing: 0.01em;
}
.navemailid {
  top: 58.5px;
  font-weight: 500;
}
.navname {
  top: 89.5px;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 351px;
  height: 850px;
  overflow: hidden;
  user-select: none;
  text-align: left;
  font-size: var(--internal-tool-subheading-size);
  color: var(--secondary-crypto);
  font-family: var(--internal-tool-subheading);
}
