@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.button,
.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 142px;
  height: 44px;
}
.text {
  font-size: var(--text-md-semibold-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--internal-tool-subheading);
  color: var(--gray-700);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text:active,
.text:hover {
  color: var(--base-white);
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-gray-100);
  padding: 0;
  background-color: var(--base-white);
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  box-sizing: border-box;
  overflow: hidden;
}
.button:active,
.button:hover {
  background-color: var(--color-gray-100);
}
.button:active {
  animation: 1s ease 0s 1 normal none pulsate;
  opacity: 1;
}
.text1 {
  top: 0;
  left: 0;
  font-size: var(--text-md-semibold-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--internal-tool-subheading);
  color: #353d4e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
}
.text1:hover {
  color: #343d4d;
}
.button1,
.logoutYesno,
.text1 {
  position: absolute;
  height: 44px;
}
.button1 {
  cursor: pointer;
  border: 1px solid #039855;
  padding: 0;
  background-color: #b7eeca;
  top: 0;
  left: 202px;
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  box-sizing: border-box;
  width: 142px;
  overflow: hidden;
}
.button1:active,
.button1:hover {
  background-color: var(--color-mediumseagreen-100);
}
.button1:active {
  animation: 1s ease 0s 1 normal none pulsate;
  opacity: 1;
}
.logoutYesno {
  top: 112px;
  left: 100px;
  width: 344px;
}
.supportingText,
.text2 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.text2 {
  line-height: 28px;
  font-weight: 600;
}
.supportingText {
  font-size: var(--text-sm-semibold-size);
  line-height: 20px;
  color: var(--gray-600);
}
.textAndSupportingText {
  position: absolute;
  top: 26px;
  left: 100px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.featuredIcon {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 56px;
  height: 56px;
}
.editdetailspopup {
  position: relative;
  border-radius: 12px;
  background-color: var(--base-white);
  width: 510px;
  height: 196px;
  mix-blend-mode: normal;
  user-select: none;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--internal-tool-subheading-size);
  color: var(--gray-900);
  font-family: var(--internal-tool-subheading);
}
