.b,
.child {
  position: absolute;
  top: 0;
  left: 0;
  width: 147.44px;
  height: 103.86px;
}
.b {
  top: 10.01px;
  left: 11.61px;
  text-transform: uppercase;
  display: none;
  align-items: center;
  width: 16.77px;
  height: 28.78px;
}
.b4,
.div,
.div1,
.div2,
.div3,
.item {
  position: absolute;
  top: 583.14px;
  left: 874.56px;
  width: 147.44px;
  height: 103.86px;
}
.b4,
.div1,
.div2,
.div3,
.item {
  top: 0;
  left: 0;
  width: 147.05px;
}
.b4,
.div1,
.div2,
.div3 {
  top: 583.14px;
  left: 728.8px;
}
.b4,
.div2,
.div3 {
  left: 583.04px;
}
.b4,
.div3 {
  left: 437.28px;
}
.b4 {
  top: 10.01px;
  left: 11.61px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 32.25px;
  height: 28.78px;
}
.div4,
.div5,
.div6 {
  position: absolute;
  top: 583.14px;
  left: 291.52px;
  width: 147.05px;
  height: 103.86px;
}
.div5,
.div6 {
  left: 145.76px;
}
.div6 {
  left: 0;
}
.div10,
.div11,
.div12,
.div13,
.div7,
.div8,
.div9 {
  position: absolute;
  top: 480.52px;
  left: 874.56px;
  width: 147.44px;
  height: 103.86px;
}
.div10,
.div11,
.div12,
.div13,
.div8,
.div9 {
  left: 728.8px;
  width: 147.05px;
}
.div10,
.div11,
.div12,
.div13,
.div9 {
  left: 583.04px;
}
.div10,
.div11,
.div12,
.div13 {
  left: 437.28px;
}
.div11,
.div12,
.div13 {
  left: 291.52px;
}
.div12,
.div13 {
  left: 145.76px;
}
.div13 {
  left: 0;
}
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  position: absolute;
  top: 377.91px;
  left: 874.56px;
  width: 147.44px;
  height: 103.86px;
}
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 728.8px;
  width: 147.05px;
}
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 583.04px;
}
.div17,
.div18,
.div19,
.div20 {
  left: 437.28px;
}
.div18,
.div19,
.div20 {
  left: 291.52px;
}
.div19,
.div20 {
  left: 145.76px;
}
.div20 {
  left: 0;
}
.b26,
.div21,
.div22,
.div23,
.div24,
.div25 {
  position: absolute;
  top: 275.3px;
  left: 874.56px;
  width: 147.44px;
  height: 103.86px;
}
.b26,
.div22,
.div23,
.div24,
.div25 {
  left: 728.8px;
  width: 147.05px;
}
.b26,
.div23,
.div24,
.div25 {
  left: 583.04px;
}
.b26,
.div24,
.div25 {
  left: 437.28px;
}
.b26,
.div25 {
  left: 291.52px;
}
.b26 {
  top: 10.01px;
  left: 11.61px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 16.77px;
  height: 28.78px;
}
.div26,
.div27 {
  position: absolute;
  top: 275.3px;
  left: 145.76px;
  width: 147.05px;
  height: 103.86px;
}
.div27 {
  left: 0;
}
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34 {
  position: absolute;
  top: 172.69px;
  left: 874.56px;
  width: 147.44px;
  height: 103.86px;
}
.div29,
.div30,
.div31,
.div32,
.div33,
.div34 {
  left: 728.8px;
  width: 147.05px;
}
.div30,
.div31,
.div32,
.div33,
.div34 {
  left: 583.04px;
}
.div31,
.div32,
.div33,
.div34 {
  left: 437.28px;
}
.div32,
.div33,
.div34 {
  left: 291.52px;
}
.div33,
.div34 {
  left: 145.76px;
}
.div34 {
  left: 0;
}
.saturday1,
.saturdayChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 147.44px;
  height: 50.05px;
}
.saturday1 {
  top: 15.02px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 147.05px;
  height: 20.02px;
}
.friday,
.monday,
.saturday,
.sunday,
.thursday,
.tuesday,
.wednesday {
  position: absolute;
  top: 123.89px;
  left: 874.56px;
  width: 147.44px;
  height: 50.05px;
  text-align: center;
  font-size: var(--text-sm-semibold-size);
}
.friday,
.monday,
.sunday,
.thursday,
.tuesday,
.wednesday {
  left: 728.8px;
}
.monday,
.sunday,
.thursday,
.tuesday,
.wednesday {
  left: 583.04px;
}
.monday,
.sunday,
.tuesday,
.wednesday {
  left: 437.28px;
}
.monday,
.sunday,
.tuesday {
  left: 291.52px;
}
.monday,
.sunday {
  left: 145.76px;
}
.sunday {
  left: 0;
}
.month2023,
.monthyearChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 1022px;
  height: 125.14px;
}
.month2023 {
  top: 27.53px;
  left: 2.58px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1019.03px;
  height: 70.08px;
}
.monthyear {
  position: absolute;
  top: 0;
  left: 0;
  width: 1022px;
  height: 125.14px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: #5999f1;
}
.keyboardArrowUp,
.keyboardArrowUp1 {
  position: absolute;
  top: 49.3px;
  left: 935.5px;
  width: 25.63px;
  height: 25.72px;
  overflow: hidden;
}
.keyboardArrowUp1 {
  left: 60.87px;
}
.calendar {
  position: absolute;
  top: 147px;
  left: 27px;
  width: 1022px;
  height: 687px;
}
.attendance1 {
  margin: 0;
  position: absolute;
  top: 55px;
  left: 38px;
  font-size: var(--poppins-heading-size);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--internal-tool-subheading);
  color: var(--primary-crypto);
  opacity: 0.8;
}
.attendance {
  position: absolute;
  top: 14px;
  left: 348px;
  border-radius: var(--br-11xl);
  background-color: var(--base-white);
  width: 1069px;
  height: 988px;
}
.attendanceexterior {
  position: relative;
  background-color: var(--internal-tool-background);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
