.btnlaundry {
  position: absolute;
  top: 857px;
  left: calc(50% - 120px);
  cursor: pointer;
}
.laundrytotalamount,
.laundrytotaltext {
  position: absolute;
  top: 0;
  font-size: var(--text2-size);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--internal-tool-subheading);
  color: var(--color-green);
  text-align: left;
  display: flex;
  align-items: center;
}
.laundrytotaltext {
  cursor: pointer;
  left: 0;
  width: 125px;
  user-select: none;
}
.laundrytotalamount {
  left: 215px;
  width: 91px;
}
.laundrytotal {
  position: absolute;
  top: 779px;
  left: 109px;
  width: 318px;
  height: 33px;
}
.addMonthly,
.laundrycheckbox {
  cursor: pointer;
  position: absolute;
}
.addMonthly {
  top: 0;
  left: 0;
  font-size: var(--text2-size);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--internal-tool-subheading);
  color: var(--primary-crypto);
  text-align: left;
  opacity: 0.8;
  user-select: none;
}
.laundrycheckbox {
  height: 72.73%;
  width: 8.11%;
  top: 13.64%;
  right: 0;
  bottom: 13.64%;
  left: 91.89%;
}
.laundrymonthly {
  position: absolute;
  top: 703px;
  left: 59px;
  width: 296px;
  height: 33px;
}
.span {
  position: absolute;
  top: 0;
  left: 275px;
  font-size: var(--text2-size);
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: var(--internal-tool-subheading);
  color: var(--color-black);
  text-align: left;
}
.laundryadditional {
  position: absolute;
  top: 621px;
  left: 57px;
  width: 370px;
  height: 33px;
}
.span1 {
  position: absolute;
  top: 3px;
  left: 273px;
  font-size: var(--text2-size);
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: var(--internal-tool-subheading);
  color: var(--color-black);
  text-align: left;
}
.laundryweight {
  position: absolute;
  top: 541px;
  left: 59px;
  width: 368px;
  height: 36px;
}
.rs45 {
  position: absolute;
  top: 3px;
  left: 273px;
  font-size: var(--text2-size);
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: var(--internal-tool-subheading);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 95px;
}
.laundryprice {
  position: absolute;
  top: 461px;
  left: 59px;
  width: 368px;
  height: 36px;
}
.fixedCharge,
.span2 {
  position: absolute;
  font-size: var(--text2-size);
  font-family: var(--internal-tool-subheading);
  text-align: left;
}
.fixedCharge {
  cursor: pointer;
  top: 4px;
  left: 0;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: var(--primary-crypto);
  opacity: 0.8;
  user-select: none;
}
.span2 {
  top: 0;
  left: 273px;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: var(--color-black);
}
.laundryfixed {
  position: absolute;
  top: 377px;
  left: 59px;
  width: 368px;
  height: 37px;
}
.inactive {
  position: absolute;
  top: 0;
  left: 273px;
  font-size: var(--text2-size);
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: var(--internal-tool-subheading);
  color: #fa3131;
  text-align: left;
}
.laundrystatus {
  position: absolute;
  top: 293px;
  left: 59px;
  width: 371px;
  height: 37px;
}
.span3 {
  position: absolute;
  top: 58px;
  left: 0;
  font-size: var(--text2-size);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--internal-tool-subheading);
  color: var(--color-black);
  text-align: left;
}
.laundryvalid,
.laundryvalidtill {
  position: absolute;
  top: 155px;
  left: 332px;
  width: 113px;
  height: 91px;
}
.laundryvalid {
  left: 61px;
  width: 122px;
}
.laundry1,
.linelaundryIcon {
  position: absolute;
  user-select: none;
}
.linelaundryIcon {
  top: 97px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 504px;
  height: 2px;
}
.laundry1 {
  margin: 0;
  top: 34px;
  left: 186px;
  font-size: var(--poppins-heading-size);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--internal-tool-subheading);
  color: var(--primary-crypto);
  text-align: left;
}
.laundry {
  position: absolute;
  top: 17px;
  left: 538px;
  border-radius: var(--br-21xl);
  background-color: var(--color-aliceblue);
  width: 504px;
  height: 954px;
}
.primaryText {
  position: absolute;
  top: 14.5px;
  left: 0;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 221px;
  user-select: none;
}
.primaryText1,
.total {
  position: absolute;
  height: 64px;
}
.primaryText1 {
  top: 0;
  left: 307px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 127.2px;
}
.total {
  top: 664px;
  left: 39px;
  width: 434.2px;
  color: var(--color-green);
}
.primaryText2,
.primaryText3 {
  font-weight: 500;
  position: absolute;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
}
.primaryText2 {
  top: 0;
  left: 0;
  width: 271px;
  height: 64px;
  user-select: none;
}
.primaryText3 {
  border: 0;
  font-family: var(--internal-tool-subheading);
  font-size: var(--text2-size);
  background-color: transparent;
  top: 16.5px;
  left: 308px;
  color: var(--color-black);
  text-align: left;
  width: 127.2px;
}
.noOfDaysSelection {
  position: absolute;
  top: 575px;
  left: 38px;
  width: 435.2px;
  height: 64px;
}
.primaryText4,
.primaryText5 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 259px;
  height: 48px;
}
.primaryText5 {
  left: 307px;
  color: var(--color-black);
  width: 127.2px;
}
.dailyCharges,
.linemess2Icon {
  position: absolute;
  top: 502px;
  left: 39px;
  width: 434.2px;
  height: 48px;
}
.linemess2Icon {
  top: 455px;
  left: 1px;
  border-radius: var(--br-8xs);
  width: 503px;
  height: 1px;
  user-select: none;
}
.btnopt,
.span5 {
  position: absolute;
  top: calc(50% - 142px);
  left: calc(50% - 118px);
}
.span5 {
  top: calc(50% - 18px);
  left: calc(50% - 12px);
  letter-spacing: 0.01em;
  font-weight: 600;
}
.numberOfDays,
.wrapper {
  position: absolute;
  user-select: none;
}
.wrapper {
  top: 0;
  left: 318px;
  border-radius: var(--br-xl);
  background-color: var(--internal-tool-background);
  width: 94px;
  height: 80px;
  overflow: hidden;
}
.numberOfDays {
  top: 22px;
  left: 0;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: var(--color-cornflowerblue-100);
  display: inline-block;
  width: 248px;
  opacity: 0.8;
}
.noOfDaysLeft {
  position: absolute;
  top: 209px;
  left: 39px;
  width: 412px;
  height: 80px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.linemessIcon {
  position: absolute;
  top: 97px;
  left: 1px;
  border-radius: var(--br-8xs);
  width: 503px;
  height: 2px;
  user-select: none;
}
.mess1 {
  margin: 0;
  position: absolute;
  top: 34px;
  left: 210px;
  font-size: var(--poppins-heading-size);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: inherit;
  color: var(--primary-crypto);
}
.mess,
.services {
  position: absolute;
  top: 17px;
  left: 20px;
  border-radius: var(--br-21xl);
  background-color: var(--color-aliceblue);
  width: 504px;
  height: 954px;
}
.services {
  top: 15px;
  left: 355px;
  border-radius: var(--br-11xl);
  background-color: var(--base-white);
  width: 1062px;
  height: 988px;
}
.servicesexterior {
  position: relative;
  background-color: var(--internal-tool-background);
  width: 100%;
  height: 1018px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text2-size);
  color: var(--color-cornflowerblue-100);
  font-family: var(--internal-tool-subheading);
}
